version: '3'
services:
  jc21-nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: jc21
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
